API_URL = /api/v1
PORT = 3000
IP = localhost
ACCESS_TOKEN_SECRET = whoismybrother
REFRESH_TOKEN_SECRET = takeusbacktoourbrother
CONNECTION_STRING = mongodb+srv://akundadababalei:t7tsonQ9cFOiaOa6@cluster0.g55xu3w.mongodb.net/STG?retryWrites=true&w=majority